body {
  background-color: #f44336;
  margin: 0;
  padding: 0;
}

.full {
    height: 100vh;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #111;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}

.skewedBox {
  transform: skew(0deg, -5deg) translateY(-150px);
  padding: 100px;
}

.header-wrapper {
  margin-top: 0px;
  width: 100%;
  text-align: center;
}

.header-wrapper h2 { 
  margin-bottom: 0;
  font-weight: 500;
}

.txt {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::selection {
  background: rgba(80, 80, 80, 0.5);
  /* Safari */
}

::-moz-selection {
  background: rgba(80, 80, 80, 0.5);
  /* Firefox */
}

.black-gradient {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) !important;
}

#nav-mobile li>a.f::before {
    background-color: #fff;
    left: 0px;
    width: 3px;
    height: 100%;
    transform: scaleY(0);
}

ul li>a.f::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform .2s, background-color .2s;
}

ul li>a.f:hover::before {
    transform: scaleX(1)
}

ul li>a.f:focus::before {
    transform: scaleX(1)
}

#nav-mobile li>a.f:hover::before {
    transform: scaleY(1)
}

.hover:hover {
  transform: translateY(2px);
  -webkit-transform: translateY(-2px);
}